@model IEnumerable<SportsPro.Models.Registration>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Registrations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.RegistrationID">Edit</a> 
    
                    <a asp-action="Delete" class="btn btn-success" asp-route-id="@item.RegistrationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
